*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color : #ddf247  ;
    --sec-bg1 :#0d121a ;
    --sec-bg2 : #090d12 ;
    --card: #19232c ;
    --body-font : "Poppins", sans-serif ;
    --heading-font: "Barlow", sans-serif ;
    --jesry-font : "Jersey 25", sans-serif;;
}

body{
    font-family: var(--body-font);
    color: #fff;
    background-color: var(--sec-bg2);
    overflow-x:hidden;
}



/* start header */
header{
    padding: 0 100px;
    background-color: var(--sec-bg1);
    position: relative;
    overflow: hidden;
}
header .bg-hr{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
header .bg-hr:nth-of-type(2){
    left: 100%;
    animation: hr 10s linear infinite ;
}
@keyframes hr {
    100%{
        left: -100%;
    }
}
/* end header */


/* start nav */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    border-bottom: 4px solid #444;
}
nav .logo{
    width: 125px;
}
nav .right-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
nav .right-nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
nav .right-nav ul li{
    position: relative;
    list-style: none;
    padding: 20px 0;
}
nav .right-nav ul li a{
    
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    transition: 0.5s;
    font-weight: 500;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
}
nav .right-nav ul li a i{
    color: var(--main-color);
    display: none;
}
nav .right-nav ul li  a::after{
    content: '';
    position: absolute;

    width: 30px;
    height: 30px;
    background: url(../images/active.png) no-repeat center ;
    background-size: contain;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50% , -50% );
    transition: 0.3s;
}
nav .right-nav ul li a:hover , 
nav .right-nav ul li a.active {
    color: var(--main-color);
}
nav .right-nav ul li a:hover::after , 
nav .right-nav ul li a.active:after{
    opacity: 0.7;
}

nav .right-nav .icons{
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}
nav .right-nav .icons i {
    font-size: 16px;
}
nav .right-nav .connect{
    display: flex;
    align-items: center;
    gap: 15px;
}
nav .right-nav .connect > i{

    font-size:30px;
    cursor: pointer;
}
.btn-bg{
    width: 140px;
    height: 45px;
    background: url(../images/btn-bg.png) center no-repeat;
    background-size: 100% 100%  ;
    /* background: linear-gradient( 190deg ,#ddf247 , teal ); */
    border-radius: 5px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: #000;
    font-weight:600;
    cursor: pointer;
    transition: 0.5s;
}
.btn-bg:hover{
    letter-spacing: 1.2px;
    background: url(../images/btn-bg-hover.png) center no-repeat;
    background-size: 100% 100%;
}
    .btn-bg img{
    width: 15px;
}
nav .right-nav .icons::after{
    position: absolute;
    content: '';

    height: 150%;
    width: 1px;
    background-color: #fff;

    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    
}
nav .right-nav .icons::before{
    position: absolute;
    content: '';

    height: 120%;
    width: 1px;
    background-color: #fff;

    right: -28px;
    top: 50%;
    transform: translateY(-50%);
    
}

.dropdownMenu-1{
    position: absolute;
    
    left: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: var(--card);
    border-radius: 5px;
    transition: 0.5s;
    
    top: 150% ;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
nav .right-nav ul li:nth-of-type(1) .dropdownMenu-1 a{
    font-size: 12px;
    padding: 10px 15px;
    transition: 0.5s;
}
nav .right-nav ul li:nth-of-type(1) .dropdownMenu-1 a::after{
    background: none;
}
nav .right-nav ul li:nth-of-type(1) .dropdownMenu-1 a:not(:last-child){
    border-bottom: 1px solid #555;
}
nav .right-nav ul li:nth-of-type(1) .dropdownMenu-1 a:hover{
    text-indent: 15px;
}
nav .right-nav ul li:nth-of-type(1):hover .dropdownMenu-1{
    top: 100% ;
    opacity: 1;
    height: auto;
    overflow: visible;
}
nav .right-nav .connect i article{
    padding:    70px 25px;
    position: fixed;
    width: 300px;
    height: 100vh;
    right: -300px;
    top: 0;
    background-color: var(--sec-bg1);
    border-left: 2px solid #444;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: var(--heading-font);
    z-index: 10;
    gap: 25px;
    transition: 0.5s;
}

nav .right-nav .connect i article::after{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.3);
    left: 0;
    z-index: -1;
    top: 0;
    display: none;
}
nav .right-nav .connect i:hover article{
    right: 0;
}
nav .right-nav .connect i:hover article::after{
    display: block;
}
nav .right-nav .connect i article:active::after{
    display: none;
}
nav .right-nav .connect i article img{
    width: 130px;
}
nav .right-nav .connect i article p:nth-of-type(1){
    line-height: 1.4;
    opacity: 0.7;
    font-size: 15px;
    word-spacing: 1.5px;
}
nav .right-nav .connect i article p:nth-of-type(2){
    line-height: 1.4;
    opacity: 0.7;
    font-family: var(--heading-font);
    font-size: 15px;
    word-spacing: 1.5px;
}
nav .right-nav .connect i article b{
    font-size: 20px;
}
nav .right-nav .connect i article > div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    gap: 10px;
}
nav .right-nav .connect i article > div:nth-of-type(1) p{
    opacity: 0.7;
    display: flex;
    gap: 8px;
}
nav .right-nav .connect i article > div:nth-of-type(2) {
    margin-top: 25px;
    display: flex;
    gap: 5px;

}
nav .right-nav .connect i article > div:nth-of-type(2) > div {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dotted var(--main-color);
    border-radius: 5px;
    cursor: pointer;
    color: var(--main-color);
    transition: 0.5s;
    font-size: 11px;
}
nav .right-nav .connect i article > div:nth-of-type(2) > div:hover{
    background-color: var(--main-color);
    color: #000;
}
nav .fa-bars{
    font-size: 30px;
    cursor: pointer;
    display: none;
}
@media (max-width: 1200px) {
    nav{
        padding: 10px 0;
    }

    nav .right-nav .connect{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;
    }
}
@media (max-width:995px) {

    nav{
        padding: 20px 0;
        position: relative;
        
    }
    nav .right-nav {
    }
    nav .right-nav ul{
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: var(--sec-bg2);
        border: 1px solid #333;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0;
        transition: 0.5s;
        z-index: 20;

        top: 200%;
        opacity: 0;
        height: 0 ;
        overflow: hidden;
        padding: 0;

        display: none;

    }
    nav:hover .right-nav ul {
        top: 100%;
        opacity: 1;
        height: auto;
        overflow: visible;
        display: flex;
        /* padding: 0; */
    }
    nav .right-nav ul li{
        padding: 15px;
        width: 100%;
    }
    nav .right-nav ul li a{
        width: 100%;
        font-size: 14px;
    }
    nav .right-nav ul li:not(:last-child){
        border-bottom: 1px solid #555;
    }
    nav .right-nav ul li a::after{
        left: 10px ;
        transform: translate( 0 , -50%);
    }
    .dropdownMenu-1{
        position: static;
            /* display: none; */
        width: 100% ;
        background-color:transparent;
        padding: 0;
        transition: 0.5s;
        /* border-radius: 5px;
        transition: 0.5s;
        
        top: 150% ;
        opacity: 0;
        height: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden; */
    }
    nav .right-nav ul li:nth-of-type(1):hover .dropdownMenu-1{
        padding: 10px 20px 0;

    }

    nav .right-nav .icons{
        display: none;
    }
    nav .right-nav .connect{

        display: none;
    }
    nav .fa-bars{
        display: block;
    }
    nav .right-nav ul li a .fa-plus{
        display: block;
    }
    nav .right-nav ul li a .fa-minus{
        display: none;
    }
    nav .right-nav ul li:hover a .fa-plus{
        display: none;
    }
    nav .right-nav ul li:hover a .fa-minus{
        display: block;
    }

}

/* end nav */




/* start heading */
.heading{
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;

}
.heading .left-heading{
    width: calc((100% - 10px ) / 2);
    display: flex;
    flex-direction: column;
    gap: 30px;    
}
.heading .left-heading h1{
    font-size: 70px;
    font-weight: 200;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: var(--heading-font);
}
.heading .left-heading h1 span{
    color: var(--main-color);
    font-weight: bold;
}
.heading .left-heading h1 b{
    font-size: 90px;
}
.heading .left-heading strong{
    position: relative;
    text-transform: uppercase;
    font-size: 25px;
    width: max-content;
    font-family: var(--heading-font);
    
}
.heading .left-heading strong::after{
    content: '';
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: var(--sec-bg1);
    left: 0;
    right: 0;
    animation: strong 5s  steps(40) infinite  ;
}
@keyframes strong {
    70% , 90%{
        left: 100%;
    }
    0% , 100%{
        left: 0;
    }
}

.heading .right-heading{
    width: calc((100% - 10px) / 2);
    padding: 60px;
    position: relative;
    animation: heading 1s linear infinite alternate ;
}
.heading .right-heading img:nth-of-type(1){
    width: 100%;
    animation: stars 1s linear infinite alternate ;
}
.heading .right-heading img:nth-of-type(2){
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-30% ,  -50%);
    width: 80%;
}
@keyframes heading {
    100%{
        transform: translateY(-25px);
    }
}
@keyframes stars {
    100%{
        opacity: 0.3;
    }
}
/* end heading */


/* start sec-featured-item */
section{
    padding: 100px ;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-bottom: 2px dotted #555;
}



/* start sec-title */ 
section .sec-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
section .sec-title b{
    font-size: 50px;
    font-family: var(--heading-font);
    text-transform: uppercase;
    opacity: 0.9;
} 
section .sec-title  span{
    color: var(--main-color);
}
section .sec-title div:nth-of-type(1) >  span{
    color: var(--main-color);
    opacity: 1;
    font-weight: 600;
    font-size: 17px;
}
section .sec-title div{
    font-size: 15px;
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 300;
}
 
section .sec-title.with-arrow div{
    display: flex;
    align-items: center;
    gap: 10px;
} 
section .sec-title.with-arrow div i {
    width: 45px;
    height: 45px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    border: 2px dotted var(--main-color);
    border-radius: 50%;
    font-size: 12px;
    transition: 0.5s;
    cursor: pointer;
}
section .sec-title.with-arrow div i:hover{
    background-color: var(--main-color);
    color: #000;
}

section .sec-title.with-arrow.withAfter {
    opacity: 1;
}
section .sec-title.with-arrow.withAfter div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: -22px;

}
section .sec-title.with-arrow.withAfter.one{
    flex-direction: column;
    justify-content: center;
}

@media (max-width : 1200px) {
    header{
        padding: 0 80px;
    }
    section{
        padding: 100px 80px;
    }
}
@media (max-width : 995px) {
    header{
        padding: 0 50px;
    }
    section{
        padding: 100px 50px;
    }
}
@media (max-width : 768px) {
    header{
        padding: 0 20px;
    }
    section{
        padding: 100px 20px;
    }
}
@media (max-width : 450px) {
    header{
        padding: 0 5px;
    }
    section{
        padding: 100px 5px;
    }
}



/* end sec-title */





.featured-item .container-1{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.featured-item .container-1 .card{
    width: calc((100% - 60px) / 4);
    padding: 10px 10px 20px ;
    background-color: var(--sec-bg1);
    border: 1px solid #444;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
}
.featured-item .container-1 .card > div:nth-of-type(1){
    padding: 20px ;
    background-color: var(--card);
    border-radius: 10px;
    border: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    text-transform: uppercase;
}
.featured-item .container-1 .card > div:nth-of-type(2){
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333;
    background-color: var(--card);
    border-radius: 10px;
    overflow: hidden;
}
.featured-item .container-1 .card > div:nth-of-type(2) img{
    width: 40%;
    height: 130px;
    transition: 0.5s;
}
.featured-item .container-1 .card:hover > div:nth-of-type(2) img{
    transform: scale(1.2);
}
.heighist-bid{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
} 
.heighist-bid > div a{
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 12px;
}
.heighist-bid > div > div{
    display: flex;
    gap: 8px;
    
    align-items: center;
}
.heighist-bid > div > div i {
    width: 20px;
    height: 20px;
    background-color: purple;
    color: #fff;
    font-size: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.heighist-bid > button{
    padding: 10px 15px;
    background-color: var(--main-color);
    display: flex;
    gap: 5px ;
    align-items: center;
    border: none;
    border-radius: 7px;
    font-weight: 600;
}

.featured-item .container-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.featured-item .container-2 .card {
    width: calc((100% - 40px) / 3);
    background: url(../images/sellerBG.png) center;
    background-size: 100% 100% ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
}
.featured-item .container-2 .card .top-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured-item .container-2 .card .top-card > div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    gap: 0px;
    text-align: center;
}
.featured-item .container-2 .card .top-card > div:nth-of-type(1) p {
    text-transform: uppercase;
    opacity: 0.8;
}
.featured-item .container-2 .card .top-card > div:nth-of-type(1) span{
    color: var(--main-color);
    font-size: 14px;
    margin-bottom: 10px;
}
.featured-item .container-2 .card .top-card > div:nth-of-type(1) > div{
    position: relative;
}
.featured-item .container-2 .card .top-card > div:nth-of-type(1) > div::after{
    content: '+56';
    position: absolute;
    margin-left: 5px;
    color: #888;
}
.featured-item .container-2 .card .top-card > div:nth-of-type(1) > div img{
    width: 80px;
}

.featured-item .container-2 .card .top-card > div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.featured-item .container-2 .card .top-card > div:nth-of-type(2) p{
    background: url(../images/bg2.png) center;
    padding: 10px;
    font-size: 14px;
    opacity: 0.7;
    background-size: 100% 100%;
}

.featured-item .container-2 .card > p {
    font-size: 12px;
    text-transform: uppercase;
    text-indent: 20px;
    opacity: 0.7;
    position: relative;
}
.featured-item .container-2 .card > p::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -2px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-color);
}

@media (max-width: 995px) {
    .featured-item .container-1 .card ,
    .featured-item .container-2 .card {
        width: calc((100% - 20px) / 2);
    }
}
@media (max-width: 600px) {
    .featured-item .container-1 .card ,
    .featured-item .container-2 .card {
        width: 100%;
    }
    
}

/* end sec-featured-item */



/* start sec-gaming */
.gaming{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: var(--sec-bg1);
}
.gaming .top-gaming{
    display: flex;
    align-items: center;
    
}
.gaming .top-gaming .gaming-img{
    width: 50%;
}
.gaming .top-gaming .gaming-img img{
    width: 100%;
}
.gaming .top-gaming .details{
    width: 50%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 80px;
}
.gaming .top-gaming .details b{
    font-size: 50px;
    text-transform: uppercase;
    opacity: 0.9;
    font-family: var(--heading-font);
}
.gaming .top-gaming .details strong{
    color: var(--main-color);
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    padding: 3px 8px;
    background: #def24722;
    width: max-content;
    position: relative;
}
.gaming .top-gaming .details strong::after{
    content: '';
    position: absolute;

    width: 100%;
    height: 100%;
    background-color: var(--sec-bg1);
    left: 0;
    top: 0;
    animation: strong 5s  steps(40) infinite  ;
}
.gaming .top-gaming .details p:nth-of-type(1){
    line-height: 1.8;
    font-size: 15px;
    opacity: 0.7;
    word-spacing: 1.3px ;
}
.gaming .top-gaming .details p:nth-of-type(2) {
    display: flex;
    align-items: center;
    color: #acaeb1;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;

}
.gaming .top-gaming .details p:nth-of-type(2) img{
    margin-right: 15px;
}
.gaming .top-gaming .details p:nth-of-type(2) span{
    color: var(--main-color);
    font-size: 16px;
    margin-left: 2px;
}

.gaming .container{
    display: grid;
    align-content: center;

    grid-template-columns: repeat(4 , 1fr) ;
    gap: 25px;
    
}
.gaming .container .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}
.gaming .container .card img{
    width: 70px;
    height: 60px;
}
.gaming .container .card:nth-of-type(4) img{
    width: 100px;

}
.gaming .container .card b{
    text-transform: uppercase;
    opacity: 0.9;
    font-size: 25px;
    font-family: var(--heading-font);
}
.gaming .container .card p{
    opacity: 0.7;
    font-size: 17px;
    line-height: 1.5 ;
    word-spacing: 1.5px;
    font-weight: 300;
}

/* endsec-gaming */






/* start sec-limited-auction*/
.limited-auction{
    background-color: var(--sec-bg2);
}
.limited-auction .container{
    display: flex;
    gap: 20px;
    align-items: center;
    
}
.limited-auction .container .card{
    width: calc((100% - 60px ) / 4 );
    background-color:#1c1c24;
    border: 1px solid #444;
    padding: 10px 10px 15px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap: 10px;
}
.limited-auction .container .card div:nth-of-type(1){
    overflow: hidden;
    border-radius: 10px;
    border-radius: 10px;
}
.limited-auction .container .card div:nth-of-type(1) img{
    width: 100%;
    transition: 0.5s;
    border-radius: 10px;
}
.limited-auction .container .card div:nth-of-type(2){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.limited-auction .container .card div:nth-of-type(2) b {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}
.limited-auction .container .card div:nth-of-type(2) i {
    font-size: 20px;
}
.limited-auction .container .card:hover div:nth-of-type(1) img{
    transform: scale(1.2);
} 
.limited-auction .container-2{
    /* display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat( 2 , 1fr ) 2fr repeat(2 , 1fr);
    gap: 25px;
    align-items: center;
}
.limited-auction .container-2 div {
    /* width: calc((100% - 200px) / 6); */
    border-radius: 15px;
    height: 300px;
}

.limited-auction .container-2 div:nth-of-type(3) {
    /* width: calc((100% - 80px) / 3); */
    height: 380px;
}
.limited-auction .container-2 div:nth-of-type(1){
    background: url(../images/blockChain-1.png) center ;
    background-size: 100% 100%;
}
.limited-auction .container-2 div:nth-of-type(2){
    background: url(../images/blockChain-2.png) center ;
    background-size: 100% 100%;
}
.limited-auction .container-2 div:nth-of-type(3){
    background: url(../images/blockChain-3.png) center ;
    background-size: 100% 100%;
    animation: changeImg 10s ease infinite alternate;
}
@keyframes changeImg {
    20%{
        background: url(../images/blockChain-3.png) center ;    
        background-size: 100% 100%;

    }
    40%{
        background: url(../images/blockChain-4.png) center ;    
        background-size: 100% 100%;

    }
    60%{
        background: url(../images/blockChain-2.png) center ;    
        background-size: 100% 100%;

    }
    80%{
        background: url(../images/blockChain-1.png) center ;    
        background-size: 100% 100%;

    }
    100%{
        background: url(../images/blockChain-5.png) center ;    
        background-size: 100% 100%;

    }
}
.limited-auction .container-2 div:nth-of-type(4){
    background: url(../images/blockChain-4.png) center ;
    background-size: 100% 100%;
}
.limited-auction .container-2 div:nth-of-type(5){
    background: url(../images/blockChain-5.png) center ;
    background-size: 100% 100%;
}

.limited-auction .container-2 img{
    /* width: 100%;
    height: 100%; */
    border-radius: 15px;
    transform: translate3d();
}

/* end sec-limited-auction*/






/* start sec-creator */
.creator{
    background-color: var(--sec-bg1);
}
.creator .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

}
.creator .container .card{
    width: calc((100% - 50px) / 3);
    padding: 35px 25px;
    background: url(../images/creatorBG.png) center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.creator .container .card > div:nth-of-type(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.creator .container .card > div:nth-of-type(1) > div:nth-of-type(1){
    display: flex;
    align-items: center;
    gap: 8px;
}
.creator .container .card > div:nth-of-type(1) > div:nth-of-type(1) > div{
       display: flex;
    flex-direction: column;
}
.creator .container .card > div:nth-of-type(1) > div:nth-of-type(1) > div b{
    font-family: var(--heading-font);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
}
.creator .container .card > div:nth-of-type(1) > div:nth-of-type(1) > div p {
    font-weight: 200;
    font-size: 13px;
    opacity: 0.6;
}
.creator .container .card > div:nth-of-type(1) > div:nth-of-type(1) > div > p > span{
    font-weight: 400;
}
.creator .container .card > div:nth-of-type(1) > div:nth-of-type(2){
    padding: 5px 10px;
    border-radius: 20px;
    background-color: var(--sec-bg2);
    border: 1px solid #444 ;
    font-size: 14px;
    opacity: 0.7;
}

.creator .container .card > div:nth-of-type(2){
    display: flex;
    align-items: center;
    gap: 12px;

}
.creator .container .card > div:nth-of-type(2) > div:nth-of-type(1){
    width: calc(( 100% - 12px ) / 2);
    padding: 5px;
}
.creator .container .card > div:nth-of-type(2) > div:nth-of-type(1) img{
    width: 100%;
}
.creator .container .card > div:nth-of-type(2) > div:nth-of-type(2){
    width: calc(( 100% - 12px ) / 2);
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.creator .container .card > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1){
    display: flex;
    align-items: center;
    gap: 12px;

}
.creator .container .card > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) img{
    width: calc((100% - 12px) / 2 );
}
.creator .container .card > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) img{
    width: 100%;
}
/* end sec-creator */







/* start sec-feedback */
.feedback .testimonials{
    overflow: hidden;
}
.feedback .testimonials .slider-1 {
    
    display: flex;
    justify-content: center;
    position: relative;
    animation: slider-1 7s ease infinite;
    
}
.feedback .testimonials .slider-1:active{
    animation-play-state: paused;
}

.feedback .testimonials .slider-1 > div{
    padding: 80px 100px;
    border: 2px double #333;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #000;
}
.feedback .testimonials .slider-1 > div p{
    font-size: 25px;
    opacity: 0.7;
    line-height: 1.5;
    font-weight: 400;
}
.feedback .testimonials .slider-1 > div:nth-of-type(2){
    position: absolute;
    right: -20px;
    transform: translate(100%);
} 

.feedback .blogs{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 30px;
}
.feedback .blogs > div{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.feedback .blogs > div >div{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.feedback .blogs > div > div b{
    font-weight: 500;
    font-size: 20px;
    font-family: var(--heading-font);
    text-transform: uppercase;
}
.feedback .blogs > div > div span{
    opacity: 0.7;
}
.feedback .blogs > div > img{
    border-radius: 50%;
}
.feedback .blogs > div:hover > img{
    outline: 2px solid var(--main-color);
    outline-offset: 2px;
}
/* end sec-feedback */



/* start sliders */
.sliders{
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 20px;
    overflow: hidden;
}
.sliders .sliderrr-1{
    display: flex;
    position: relative;
    animation: slider-1 10s linear infinite;
}

.sliders .sliderrr-1 .slide {
    display: flex;
    gap: 15px;
    
}
.sliders .sliderrr-1 .slide img{
    width: calc((100% - 90px) / 7);
}
.sliders .sliderrr-1 .slide.slide-2{
    position: absolute;
    right: -10px;
    transform: translateX(100%);
}
.sliders .sliderrr-1:nth-of-type(2) {
    animation: slider-2 10s linear infinite;
}
.sliders .sliderrr-1:nth-of-type(2) .slide.slide-2{
    transform: translateX(-100%);
    
}
@keyframes slider-1 {
    100%{
        transform: translate(-100%);
    }
}
@keyframes slider-2 {
    100%{
        transform: translatex(100%);
    }
}
/* end sliders */





/* start footer */
footer{
    display: flex;
    padding: 100px;
    gap: 40px;
    background-color: var(--sec-bg1);
    border-bottom:2px dotted #333 ;
    border-top:2px dotted #333 ;
}
footer > div{
    width: calc((100% - 120px) / 4);
    display: flex;
    flex-direction: column;
    gap: 28px;
}
footer > div > div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer > div:not( :first-child ) > b{
    text-transform: uppercase;
    font-size: 20px;
    font-family: var(--heading-font);
    opacity: 0.9;
}
footer .card-1 > div > div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
footer .card-1 > div > div:nth-of-type(1) p{
    color: #ccc;
    opacity: 0.8;
}

footer .card-1 > div > div:nth-of-type(2) b{
    color: #cdd8f9;
    font-family: var(--heading-font);
    font-size: 20px;
}
footer .card-1 > div > div:nth-of-type(2) strong{
    color: #b7b7b7;
    font-weight: 700;

}
footer .card-1 > div > div:nth-of-type(2) strong span{
    color: var(--main-color);
}

footer .card-2 > div > a{
    text-decoration: none;
    color:#b7b7b7;
    transition: 0.5s;
}
footer .card-2 > div > a:hover{
    color: var(--main-color);
}

footer .card-3 > div > p{
    line-height: 1.5;
    color: #b7b7b7;
    font-size: 15px;
} 
footer .card-3 > div > input{
    border: none;
    height: 60px;
    background-color: #273036;
    color: #b7b7b7 ;
    padding: 0 10px;
    font-size: 17px;
} 
footer .card-3 > div > input:focus{
    outline: none;
}

footer .card-4 .instgram{
    flex-direction: row;
    gap: 7px;
    flex-wrap: wrap;
    padding-right: 80px;
}
footer .card-4 .instgram > div {
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: relative;
}
footer .card-4 .instgram > div::after{
    content: '';
    position: absolute;
    width: 30%;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    opacity:0;
    transition: 0.5s;
    background-color: #0000007d;
}
footer .card-4 .instgram > div:hover::after{
    height: 100%;
    width: 100%;
    opacity: 1;
}
footer .card-4 .instgram > div:hover >div {
    display: block;
}
footer .card-4 .instgram > div img {
    width: 100%;
    height: 100%;
}
footer .card-4 .instgram > div div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    display: none;
    z-index: 1;
}
/* end footer */